{{ 'faqs-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="faqs-container" style="background-color: {{ section.settings.background_color }}">
  <div class="faqs-wrapper">
    <div class="page-width faqs-wrapper-content isolate section-{{ section.id }}-padding">
      {%- unless section.settings.title == blank -%}
        <div class="title-wrapper-with-link title-wrapper--no-top-margin scroll-trigger animate--slide-in">
          <h2
            id="SectionHeading-{{ section.id }}"
            class="faqs-heading inline-richtext {{ section.settings.heading_alignment }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            style="font-size: {{ section.settings.heading_size }}px"
          >
            {{ section.settings.title }}
          </h2>
        </div>
      {%- endunless -%}
      <div class="faqs-content">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'richtext' -%}
              <div class="faq-content scroll-trigger animate--slide-in">
                <h2
                  class="inline-richtext"
                >
                  {{ block.settings.title }}
                </h2>
                <p>{{ block.settings.content }}</p>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      {%- if section.settings.button_title != blank -%}
        <a
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
          class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
        >
          {{ section.settings.button_title }}
        </a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.faqs.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "FAQs",
      "label": "t:sections.faqs.settings.title.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:settings_schema.colors.settings.background.label",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "t:sections.faqs.settings.button_color.label",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:sections.faqs.settings.button_text_color.label",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "button_title",
      "default": "View All",
      "label": "t:sections.faqs.settings.button.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.faqs.settings.button.label"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.heading_size.label",
      "default": 26
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "richtext",
      "name": "t:sections.faqs.blocks.richtext.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Enter faq title",
          "label": "t:sections.faqs.blocks.richtext.settings.title.label"
        },
        {
          "type": "inline_richtext",
          "id": "content",
          "default": "Enter faq content",
          "label": "t:sections.faqs.blocks.richtext.settings.content.label"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.faqs.presets.name",
      "blocks": [
        {
          "type": "richtext"
        }
      ]
    }
  ]
}
{% endschema %}
